.feedback-form-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .input-group, .question-group {
    margin-bottom: 15px;
  }
  
  input[type="text"], select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
  }
  
  .add-question-button, .submit-button {
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  .add-question-button {
    background-color: #008CBA; /* Different color for the add button */
  }
  
  .submit-button:hover, .add-question-button:hover {
    opacity: 0.9;
  }
  