/* NSS Theme Styles */
.nss-head-list-container {
  width: 500px;
  margin-top: 5px;
  background-color: #f4f4f4; /* Light gray background for contrast */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Enhanced shadow for depth */
  border: 2px solid #181da5; /* Light border for a defined edge */
}

.nss-head-list-title {
  color: #006400; /* Dark green color representing NSS */
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

.nss-head-list {
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove padding */
}

.nss-head-item {
  background-color: #ffffff; /* White background for list items */
  border: 1px solid #d1d1d1; /* Light border for definition */
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  transition: box-shadow 0.3s; /* Smooth shadow transition */
}

.nss-head-item:hover {
  box-shadow: 0 4px 15px rgba(0, 100, 0, 0.2); /* Shadow on hover */
}

.nss-head-fullname {
  color: #430bfc; /* Dark green color */
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.nss-head-id,
.nss-head-email {
  color: #555555; /* Dark gray for secondary text */
  margin: 5px 0; /* Margin for spacing */
}

.nss-add-to-auth-btn {
  background-color: #f56336; /* Yellow button for visibility */
  color: #000000; /* Black text for contrast */
  border: none; /* Remove default border */
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth background color transition */
}

.nss-add-to-auth-btn:hover {
  background-color: #f23c04; /* Lighter yellow on hover */
}

.nss-no-heads-message {
  text-align: center;
  font-size: 18px;
  color: #555555; /* Dark gray */
}
