/* Scrollable main content area */
.main-content {
  max-height: 80vh; /* Adjust the height as needed */
  overflow-y: auto;
  padding: 0 20px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
/* Footer styling */
.footer {
  background-color: #D6E4F0;
  color: #000000;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.footer-section h3 {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a {
  color: #000000;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

/* Social media icon styling */
.social-media {
  display: flex;
  gap: 10px;
}

.social-link i {
  font-size: 25px;
  color: #333;
  transition: color 0.3s ease;
}

.social-link i:hover {
  color: #007bff;
}

/* Footer bottom text */
.footer-bottom {
  margin-top: 10px;
  font-size: 0.8rem;
}

.footer-bottom p {
  margin: 0;
}

/* Newsletter input and button styling */
.newsletter-input {
  padding: 5px;
  margin-right: 5px;
}

.newsletter-button {
  padding: 5px;
}
