@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');

body, html {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #ffffff; /* Dark navy background */
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  width: 100vh;
  height: 100vh;
}

