/* EventForm.css */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');

* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
}

.event-container {
  width: 500px;
  margin: 40px auto;
  padding: 20px;
  background-color: #F0F4FA;
  border-radius: 10px;
  border-top: 5px solid #133E87;
  border-bottom: 5px solid #133E87;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.event-title {
  color: #133E87;
  font-size: 24px;
  margin-bottom: 20px;
}

.event-form {
  display: flex;
  flex-direction: column;
}

.event-label {
  display: block;
  text-align: left;
  color: #1A1A19;
  font-weight: 400;
}

.event-input, .event-textarea {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  font-size: 14px;
  border: 1px solid #BFECFF;
  border-radius: 8px;
  background-color: #E5ECF4;
  color: #133E87;
  outline: none;
  transition: border 0.3s ease;
}

.event-input:focus, .event-textarea:focus {
  border: 1px solid #133E87;
}

.event-textarea {
  resize: vertical;
  min-height: 100px;
}

.event-button {
  width: 100%;
  padding: 12px;
  background: #DA2E2E;
  color: #ffffff;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 20px;
}

.event-button:hover {
  background: #B72828;
}

.event-button:active {
  background: #9B2121;
}
